@using Dominio
@model IndexViewModel
@{
    ViewData["Title"] = "Documento_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Documento.DocId == 0)
{
    <h1>Crear Documento</h1>
}
else
{
    <h1>Actualizar Documento</h1>
}
<div class="row"> 
    <div class="col-sm-4"> 
        <form asp-action="Documento_Detalle" asp-controller="Documentos" method="post">
            <input type="hidden" asp-for="Documento.DocId"/> 
            <div class="mb-2"> 
                <label class="form-label">Código documento</label>
                <input class="form-control form-control-sm" asp-for="Documento.DocCodigo" type="text" required />
            </div> 
            <div class="mb-2"> 
                <label class="form-label">Nombre del Documento</label> 
                <input class="form-control form-control-sm" type="text" asp-for="Documento.DocNombre" required />
            </div> 
            <div class="mb-2"> 
                <label class="form-label">Código Area</label>
               <select class="form-select form-select-sm" asp-for="Documento.DocArea" asp-items="@Model.Documento.Areas">
                  
               </select>
            </div> 
            <div class="mb-2"> 
                <label class="form-label">Extension Del Documento</label> 
                <select class="form-select form-select-sm" asp-for="Documento.DocExtension" asp-items="@Model.Documento.ListaExtenciones" >
                   
                </select>
            </div> 
            
            <div class="mb-2" hidden > 
                @if (Model.Documento.DocId == 0)
                {
                    <label class="form-label">Usuario que ingresa el documento</label>
                }
                else{
                <label class="form-label">Usuario que Modifica el documento</label>
                  
                    }

                <input class="form-control form-control-sm" type="text" asp-for="Documento.DocUsuCrea" value="Procesos" required readonly />
            </div> 
           
            <div class="mb-2"> 
                <label class="form-label">Ruta Del Documento</label> 
                <input class="form-control form-control-sm" type="text" asp-for="Documento.DocRuta" required />
            </div> 
            <div class="mb-2">
                @if (Model.Documento.DocId == 0)
                {
                    <button class="btn btn-sm ver w-25" type="submit">Crear</button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm ver w-25" type="submit">Actualizar</button>
                } 
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Documentos">Volver</a> 
            </div> 
        </form> 
    </div> 
</div>