
@{
    ViewData["Title"] = "ErrorRuta";
}


<div class="alert alert-warning d-flex align-items-center" role="alert">
  <p>
      <h5>Error en la ruta : </h5>&nbsp;
      <i class="bi bi-exclamation-triangle"></i>
      <div class="mx-1">
         Hubo un problema encontrando la ruta, por favor póngase en contacto con el area de Infraestructura.
      </div>
  </p>
</div>