@using Dominio;
@using Newtonsoft.Json;
@using Syncfusion.XlsIO;
@model IndexViewModel

@{
    ViewData["Title"] = "ListaUsuario";
    //bool visible = ViewBag.Visible;
    //string cadena = visible ? "" : "d-none";
}

<div class="accordion">DATOS DEL PROVEEDOR</div>
<div class="panel">
    <div class="card-body ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="true" style="">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <select id="ValNit" onchange="selectNit(@(JsonConvert.SerializeObject(Model)))" asp-items="Model.DatosProveedor.Proveedors" asp-for="Proveedor">
                            <option disabled selected>Seleccione</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Nit</label>
                        <input class="form-control" type="hidden" id="id_proveedor" name="id_proveedor">

                        <input class="form-control" type="text" id="nit" name="nit">
                        <div class="error"></div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Contacto</label>
                        <input class="form-control" type="text" id="contacto" name="contacto">
                        <div class="error"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="text" id="email" name="email">
                        <div class="error"></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Teléfono</label>
                        <input class="form-control" type="text" id="telefono" name="telefono">

                        <div class="error"></div>
                    </div>
                </div>
                <!--Boton agregar Proveedor-->
                <div class="col-2" style=" height:65px; margin-top:33px">
                    <a asp-controller="Proveedores" asp-action="CrearProveedor" type="button" class="btn  form-control" style=" height:auto"><img style="width:40px; margin-left:auto" src="/img/anadir-amigo.png" class="logo" /></a>
                    <!--Modal
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCrear">
                        Modal
                    </button>-->
                </div>
            </div>
        </div>
    </div>

    @*
    <div>
    <div class="row">
    <div class="col-md-5">
    <div class="form-group">
    <label>Proveedor</label>
    <select id="ValNit" onchange="selectNit(@(JsonConvert.SerializeObject(Model)))" asp-items="Model.DatosProveedor.Proveedors" asp-for="Proveedor">
    <option disabled selected>Seleccione</option>
    </select>
    </div>
    </div>
    <div class="col-md-5">
    <div class="form-group">
    <label>Nombre</label>
    <input class="form-control" type="text" id="nombre" name="nombre">
    </div>
    </div>

    </div>

    <div class="row">
    <div class="col-md-5">
    <div class="form-group">
    <label class="control-label">Nit</label>
    <input class="form-control" type="hidden" id="id_proveedor" name="id_proveedor">

    <input class="form-control" type="text" id="nit" name="nit">
    <div class="error"></div>
    </div>
    </div>

    <div class="col-md-5">
    <div class="form-group">
    <label class="control-label">Contacto</label>
    <input class="form-control" type="text" id="contacto" name="contacto">
    <div class="error"></div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-5">
    <div class="form-group">
    <label class="control-label">Email</label>
    <input class="form-control" type="text" id="email" name="email">
    <div class="error"></div>
    </div>
    </div>
    <div class="col-md-5">
    <div class="form-group">
    <label class="control-label">Teléfono</label>
    <input class="form-control" type="text" id="telefono" name="telefono">

    <div class="error"></div>
    </div>
    </div>
    <!--Boton agregar Proveedor -->
    <div class="col-2" style=" height:65px; margin-top:33px">
    <a type="button" class="btn  form-control" data-bs-toggle="modal" data-bs-target="#ModalCrear" style=" height:auto" ><img style="width:40px; margin-left:auto" src="/img/anadir-amigo.png" class="logo" /></a>
    <!--Modal
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCrear">
    Modal-->
    </button>
    </div>
    </div>
    </div>*@


    <br>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @section Scripts{
        <script>

        </script>
    }
