
@{
    ViewData["Title"] = "ListarOrdenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between contenedor">
    <h3><strong>ORDENES DE COMPRA</strong></h3>
</div>


<partial name="_TablaOrdenes" model="Model"></partial>